/ssh/id_ed25519
/ssh/id_rsa
/ssh/github_rsa*
/ssh/known_hosts
bundle/cache
rbenv/*/
atom/.apm
atom/blob-store
atom/compile*
atom/github.cson
atom/linter-config.json
atom/.node-gyp
atom/packages
atom/storage

config/thefuck*
config/configstore
