"*":
  "atom-beautify":
    general:
      _analyticsUserId: "afbc218b-de8b-4f92-8322-9adeaf141143"
  "atom-css-comb":
    readyMadeConfigs: "csscomb"
  "atom-pair": {}
  "autocomplete-plus": {}
  blame: {}
  core:
    disabledPackages: [
      "ever-notedown"
      "linter-jshint"
      "vim-mode"
      "linter-sass-lint"
      "terminal-plus"
      "open-on-github"
      "atom-pair"
    ]
    telemetryConsent: "limited"
  editor:
    autoIndent: false
    fontSize: 16
    invisibles: {}
    preferredLineLength: 125
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "ever-notedown": {}
  "exception-reporting":
    userId: "92c3dff9-1544-2937-e4c5-5d22f7ab5ec2"
  "git-blame":
    columnWidth: 300
    dateFormatString: "MM-DD"
  "git-diff-details":
    enableSyntaxHighlighting: true
  "language-elm": {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
    disableWhenNoEslintrcFileInPath: false
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  pigments: {}
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
    toggles:
      autoClose: true
  "terminal-plus":
    core: {}
    style:
      fontSize: "12px"
      theme: "dracula"
    toggles:
      autoClose: true
  "toggle-quotes": {}
  "tree-view":
    autoReveal: true
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
